
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='primary.css') }}">
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
    <header>

    </header>
    <nav>
        <a href="/blog">Mayat's Blog Post</a>
        <a href="/currentpost">Mayat Latest Blog Entry</a>

    </nav>
    <div>
        <h2>Mayat's blog</h2>
    
        <form action="" id="Blog" method="POST">
    
                <table>
            <tr>
                    <td>
                        <b><label for="title">Title</label></b>
                    </td>
                    <td>
                        <input type="text" name="title" id="title" value={{title}}> 
                        
                    </td>
            </tr>
    
            <tr>
                        <td>
                            <b><label for="body">Body</label></b>
                        </td>
                        <td>
                            <input type="text" name="body"> 
                          
                        </td>
                        
            </tr>
    
            
            </tr>
        </table>       
        <input type="submit">         
    
    
    
    
            
        </form>
    
    
    
    </div>


    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    
</body>
</html>