#main{
    display:block;
}

.post{  
    box-sizing:border-box;
    margin:20px auto;
    border:1px outset gainsboro;
    padding:0px;
}

.post h1{
    padding:5px;
    background: paleturquoise;
}
.post p{
    padding:3%;
    text-align: left;
}